/*
  SOPHIA HE
  MARCH 9, 2021
*/

body {
  background-color:mediumslateblue;
  font-family: 'Share Tech Mono', monospace;
  background-position: top center;
  color: black;
}

@media only screen and (max-device-width: 1100px) {
  body {
    background-attachment: fixed;
    background-size: 100vw auto;
    background-image: url("img/background-mobile.jpg");

  }

  html {
    font-size: 20px;
  }

}

@media only screen and (max-width: 900px) {
  body {
    background-image: url("img/background-mobile.jpg");
    background-size: 100vw auto;
  }

  html {
    font-size: 12px;
  }

}

/*
Other option for iPad/tablet
/*
@media only screen and (min-device-width: 500px) and (max-device-width: 1100px) {
  body {
    background-attachment: fixed;
    background-size: 100vw auto;
    background-position: top center;
    background-image: url("img/background.jpg");

  }

  html {
    font-size: 20px;
  }
}*/

@media only screen and (min-width: 900px) and (min-device-width: 1100px){
  body {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("img/background.jpg");
  }

  html {
    font-size: 14px;
  }

}

/*
 Prior solid colors:
 #E0DBD7;
 background-color: lavender;
*/
footer, #intro, #facts, #coming-soon, #technologies {
  /*background-image: linear-gradient(linen, rgb(169, 169, 252), darkorchid);*/
  /*background-image: linear-gradient(linen, rgb(169, 169, 252), teal);*/
  /*background-image: linear-gradient(linen, rgb(169, 169, 252), darkorchid);*/
  background-image: linear-gradient(linen, rgb(169, 169, 252), royalblue);
  /*border: 7px solid black;*/
  border-radius: 20px;
}

@media screen and (prefers-color-scheme: dark) {
  footer, #intro, #facts, #coming-soon, #technologies {
    /*background-image: linear-gradient(midnightblue, rebeccapurple);*/
    background-image: linear-gradient(midnightblue, royalblue);
    border-radius: 20px;
  }

  body {
    color: ghostwhite;
  }

}

/*other option
font-family: 'Press Start 2P', monospace;*/
header h1 {
  font-family: 'Coda Caption', sans-serif;
  text-transform: uppercase;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 20px 15px 20px #551755;
}

header blockquote {
  margin-top: 0px;
  font-size: 1.6em;
}


header {
  height: 100vh;
}

footer {
  background-size: 100%;
}

/*
text-decoration: underline;
*/
h2 {
  font-size: 2.5em;
}

p {
  font-size: 1.7em;
}


header, #projects > article, #projects > article > section,
#links > article, #links section {
  align-items: center;
}

/*
color: #E0DBD7;
*/
header, #projects h2, #links h2, #links > p, #projects > p, #projects article section p span {
  color: lavender;
}

header, #projects > article > section, #links section {
  justify-content: center;
  flex-direction: column;
}

header, #intro section, #projects article, #projects article section,
#links article, #links section {
  display: flex;
}

footer p, h2, #projects > p, #links > p, #coming-soon {
  text-align: center;
}

footer p, #projects > article > section, #links section {
  padding: 20px;
}

#intro, #facts,  #coming-soon, #links, #technologies {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#projects {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#intro, #facts, #coming-soon, #technologies {
  padding: 20px;
  /*border: 10px solid black;*/
}

#intro, #facts, #coming-soon, footer, #technologies {
  box-shadow: 20px 15px 20px #551755;
}

#intro > section > p {
  size: 20px;
}

#intro > section > img, #facts > section > img, #technologies > section > img {
  width: 20vw;
  height: 100%;
  border-radius: 10%;
  margin: 10px;
  margin-right: 50px;
}

#facts a {
  color: #FFA500;

}

#facts a:visited {
  color: #1B506E;
}

#facts p, #technologies p {
  margin: 20px;
}

#facts p, #technologies p {
  font-size: 1em;
}

#projects article section p, #projects article section p span.answer
#links article section p, #links article section p span.answer  {
  font-size: 1.1em;
}

#facts li, #technologies li {
  font-size: .8em;
  font-weight: normal;
}

#facts section, #technologies section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}


#facts section p, #technologies section p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.education, .tech {
  font-size: 1.6em;
  font-weight: bold;
  max-width: 50%;
  flex: 1;
}

#projects > article, #links > article {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*
background-color: #9B570D;
*/
#projects > article > section {
  justify-content: start;
  margin: 15px;
  height: 28em;
  width: 18em;
  /*background-color:darkorchid;*/
  /*background-color: teal;*/
  background-color:royalblue;
  background-image: radial-gradient(lightskyblue, royalblue);
  box-shadow: 20px 15px 20px #551755;
  opacity: 80%;
  /*border: 10px solid black;*/
}


@media screen and (prefers-color-scheme: dark) {
  #projects > article > section {
    justify-content: start;
    margin: 15px;
    height: 28em;
    width: 18em;
    /*background-color:darkorchid;*/
    /*background-color: teal;*/
    background-color:royalblue;
    background-image: radial-gradient(circle, orchid, royalblue);
    box-shadow: 20px 15px 20px #551755;
    opacity: 80%;
    /*border: 10px solid black;*/
    color: black;
  }
}

#links section {
  justify-content: start;
  margin: 15px;
  height: 18em;
  width: 18em;
  background-color: rgb(171, 127, 192);
  background-image: linear-gradient(yellowgreen,rgb(169, 169, 252), mediumvioletred);
  box-shadow: 20px 15px 20px #551755;
  opacity: 80%;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

#links section:hover {
  background-color:darkorchid;
  /*background-image: linear-gradient(linen, rgb(171, 127, 192), purple);*/
  background-image: linear-gradient(linen, salmon, royalblue 80%);
  box-shadow: 25px 20px 25px #551755;
}

#links section:active {
  background-image:linear-gradient(midnightblue, royalblue, rebeccapurple);
  /*background-image:linear-gradient(midnightblue, purple, rebeccapurple);*/
}

#links article section img {
  height: 7em;
  width: 7em;
}

#projects > article > section > img {
  height: 150px;
  width: 150px;
}

#projects > article > section > hr {
  width: 65%;
}

#projects > article > section > p {
  align-self: flex-start;
}

#links > article > section > p {
  align-self: center;
}

#projects > article > section > p > span {
  font-size: 1.7em;
}

#links span {
  font-size: 1.5em;
}

#projects > article > section > p > span.answer {
  color: #191919;
  display: none;
}

#projects > article > section:hover > p > span.answer {
  display: inline;
}


#scarlet-witch:hover + img {
  display: block;
  /*background-color:rgb(75, 18, 104);*/
  /*background-image:linear-gradient(midnightblue, purple, rebeccapurple);*/
}

/*background-image:radial-gradient(circle, darkorchid 15%, dodgerblue, yellowgreen);*/
#scarlet-witch:hover, #sudoku:hover, #panorama:hover, #sewer-game:hover {
  background-image:radial-gradient(circle,dodgerblue 20%, yellowgreen);
  box-shadow: 25px 20px 25px #551755;
}

#projects img, #projects div {
  width: 100%;
  display: none;
}

#projects img {
  box-shadow: 25px 20px 25px #551755;
  border: 5px solid dodgerblue;
}


#panorama:hover, #sudoku:hover, #scarlet-witch:hover, #sewer-game:hover {
  position:relative;
}
#panorama:hover + div img, #sudoku:hover + div img, #sewer-game:hover + div img  {
  display: block;
  /*background-color:rgb(75, 18, 104);*/
  /*background-image:linear-gradient(midnightblue, purple, rebeccapurple);*/
}


@media only screen and (max-device-width: 1100px) {
  #panorama:hover + div, #sudoku:hover + div, #sewer-game:hover + div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }


  #projects div img {
    max-width:80%;
    height:auto;
  }

}

@media only screen and (max-width: 900px) {
  #panorama:hover + div, #sudoku:hover + div, #sewer-game:hover + div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #projects div img {
    max-width:40%;
    height:auto;
  }

}

@media only screen and (min-width: 900px) and (min-device-width: 1100px){
  #panorama:hover + div, #sudoku:hover + div, #sewer-game:hover + div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #projects div img {
    max-width:40%;
    height:auto;
  }

}
